@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
  --primary-color: rgb(106, 93, 203);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  background-color: #ece9e9;
}

header {
  padding: 0.5rem 3rem;
  background-color: #ece9e9;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.logo .logo-text {
  color: var(--primary-color);
}

.header-search {
  flex: 1;
}

#search-form {
  display: flex;
  gap: 0.5px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 1rem;
}

#search-form input {
  flex: 1;
  height: 2rem;
  background-color: #ece9e9;
  border: none;
  padding-left: 1rem;
}

#search-form input:focus {
  outline: none;
}

#search-form button {
  border: none;
  background-color: #ece9e9;
}

footer {
  padding: 30rem 3rem 0.5rem 3rem;
}

.upper-footer {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
}

.lower-footer {
  display: flex;
  padding-top: 2rem;
  justify-content: space-between;
  color: blue;
}

#book-categories > li > a {
  color: black;
}

#social-icons {
  display: flex;
  column-gap: 2rem;
}

#social-icons > li > a:hover {
  color: red;
}

#book-categories {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-top: 2rem;
}

#book-categories > li > a:hover {
  color: blue;
}

#contacts {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-top: 2rem;
}

#contact-icons {
  color: blue;
  padding-right: 1rem;
}

#heart-icon {
  color: red;
}

[class*="col-"] {
  width: 100%;
  float: left;
}

/* Desktop */
@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }

  .upper-footer {
    grid-template-columns: repeat(3, 1fr);
  }
}
